.crud {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* flex-direction: column; */
}
table td {
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: rgb(54, 135, 211);
    color: white;
}
table td button {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;
}
table td button.edit {
    background-color: rgb(7, 168, 7);
    color: white;
}
table td button.edit:hover {
    background-color: green;
}
table td button.delete {
    background-color: red;
    color: white;
}
table td button.delete:hover {
    background-color: rgb(219, 19, 19);
}
.addForm {
    margin-bottom: 30px;
}
.addForm input {
    display: flex;
    height: 30px;
    width: 230px;
    margin: 4px;
    background-color: ivory;
}
.addForm button {
    background-color: rgb(31, 171, 31);
    height: 35px;
    width: 140px;
    color: white;
    cursor: pointer;
}
.addForm button:hover {
    background-color: rgb(5, 86, 5);
}
h3 {
    text-align: center;
    color:darkred;
    font-weight: bold;
}
span {
    display: block;
    margin: auto;
}